:root {
  --header: rgb(3, 15, 185);
  --banner: rgb(208, 220, 250);
  --text: rgb(255, 255, 255);
  font-family: Helvetica;
}

header {
  height: 65px;
  width: 100%;
  background-color: var(--header);
  color: var(--text);
  border-style: solid;
  border-color: black;
  text-align: center;
}

.main{
 padding-left: 31rem;
 padding-right: 20rem;
 margin-top: 0rem;
 margin-left: 1rem;
 margin-right: 1rem;
}

.nomarg{
    margin-top: -1rem;
}

.right{
margin-right: 6rem;
margin-top: 6rem;
}

.center{
    display: flex;
    justify-content: center;
    padding-left: 20rem;
    padding-right: 10rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.koombyah{
    margin-left:4rem;
    margin-right:4rem;
}

footer{
  height: 8vw;
  width: 100%;
  background-color: var(--header);
  border-style: solid;
  border-color: black;
  position: absolute; 
  bottom: 0;
  
}

.d-flex{
    display: flex;
}

.square{
background-color: var(--banner);
height: 2rem;
width: 50rem;
margin: 1rem;
}